<!DOCTYPE html>
<html lang="en">
<head>
  <title> vehicle_name </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px;}
    /* Set gray background color and 100% height */
    .sidenav {
    	right: 5px;
    	top: 35px;
      height: 400px;
      width: 420px;
    }
    body {background-color: #b5b6b7}

  </style>


  <script type=text/javascript>
    $(function() {
      $('a#calculate').on('click', function() {
        $.getJSON('/_add_numbers', {
          a: $('input[name="a"]').val(),
          b: (' store.Number '),
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
      });
    });
  </script>



</head>
<body style="background-color:black; background-size: 100% 100%;">
<div class="container">

<div class="row">
        <div class="col-sm-3">
<div class="well">
          <center>
            <p><b>Total Turo Listings for <br>{{ result.vehicle_make }} {{ result.vehicle_model }} Vehicles</b></p>
            <h3><b>{{ result.total_count }}</b></h3>
            </center>
          </div>
      </div>
        <div class="col-sm-5 well">

        <center>
          <h2>{{ result.vehicle_name }} {{ result.vehicle_model }}</h2>
          <h3> ${{ result.rate_daily }} per day in {{ result.location_address }}</h3>
          <h4>({{ result.location_city }} COL is {{ result.price_diff }}x the national average)</h4>
          </center>
        </div>

        <div class="col-sm-3">
            <div class="well">
          <center>
            <p><b>{{ result.vehicle_make }} {{ result.vehicle_model }}<br>Average Turo Price</b></p>
            <h3><b>${{ result.avg_price }}</b></h3>
          </center>
        </div>
      </div>


</div>
</div>



{% with modelInfo=modelInfo %}
{% include 'bc2.html' %}
{% endwith %}


        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
</html>
